@import "includes/common";


@media screen and (max-width: 767px) {
	.header{padding: 0px 0 10px 0;}
	.col-auto{display:none;}
	#mood{display:none;}
	.pop .header .header-top{display: none;}
	.body-top{display: none;}
}
@media screen and (max-width: 960px) {
	.ylink{display: none;}
}

@media screen and (min-width: 768px) {
	.pop .main .container{width:100%; margin:0;}
}
@media screen and (min-width: 1200px) {
	.pop .main .container{width: 980px;}
}
.navbar{
	margin-bottom: 0;
}
.navbar-default{
	
	background-color: #CA7E23;
}
.navbar-default .navbar-nav>li>a{
	color: #333;
	font-weight: bold;
	font-size: 14px;
}
.navbar-default .navbar-nav>.active>a{
	background-color: #CA7E23;
}	
.navbar-default .navbar-nav>li>a:hover{
	background-color: #E09F34;
}

.navbar-default navbar-brand{
	color: #631078;
}

#content .container{
	max-width: 980px;
}

.pagenav,.pagenav .inside {
	border-color: #ad6d38;
	border-style: solid;
}
.pagenav {
	border-width: 2px;
	margin-top: 20px;
}
.pagenav .inside {
	margin: 1px;
	border-width: 1px;
}
.pagenav .content {
	margin:5px;
}
.pagenav .content li {
	line-height: 30px;
	margin: 6px 2px;
}
.pagenav .content li a {
	display: block;
	background-color: #ebe5d6;
	padding: 5px 10px;
}


/**
 * Back to top
 **/

#elevator_item {
width: 60px;
height: 100px;
position: fixed;
right: 15px;
bottom: 10px;
-webkit-transition: opacity .4s ease-in-out;
-moz-transition: opacity .4s ease-in-out;
-o-transition: opacity .4s ease-in-out;
opacity: 1;
z-index: 100020;
display: none;
}
#elevator_item.off {
opacity: 0;
visibility: hidden
}
#elevator {
display: block;
width: 60px;
height: 50px;
background: url(../images/icon_top.png) center center no-repeat;
background-color: #444;
background-color: rgba(0,0,0,.6);
border-radius: 2px;
box-shadow: 0 1px 3px rgba(0,0,0,.2);
cursor: pointer;
margin-bottom: 10px
}
#elevator:hover {
background-color: rgba(0,0,0,.7)
}
#elevator:active {
background-color: rgba(0,0,0,.75)
}
#elevator_item .qr {
display: block;
width: 60px;
height: 40px;
border-radius: 2px;
box-shadow: 0 1px 3px rgba(0,0,0,.2);
cursor: pointer;
background: url(../images/icon_code.png) center center no-repeat;
background-color: #444;
background-color: rgba(0,0,0,.6)
}
#elevator_item .qr:hover {
background-color: rgba(0,0,0,.7)
}
#elevator_item .qr:active {
background-color: rgba(0,0,0,.75)
}
#elevator_item .qr-popup {
width: 170px;
height: 385px;
background: #fff;
box-shadow: 0 1px 8px rgba(0,0,0,.1);
position: absolute;
left: -180px;
bottom: 0;
border-radius: 2px;
display: none;
text-align: center
}
#elevator_item .qr-popup .code-link {
display: block;
margin: 10px;
color: #777
}
#elevator_item .qr-popup .code {
display: block;
margin-bottom: 10px
}
#elevator_item .qr-popup .arr {
width: 6px;
height: 11px;
background: url(../images/code_arrow.png) 0 0 no-repeat;
position: absolute;
right: -6px;
bottom: 14px
}



.dropdown:hover .dropdown-menu {
	display: block;
}